doctype html
html.no-js
  head
    meta(charset="utf-8")
    title
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width")
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css(.tmp) styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css(.tmp) styles/main.css
    link(rel="stylesheet", href="styles/main.css")
    // endbuild
  body(ng-app="<%= scriptAppName %>")
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    // Add your site or application content here
    div.pure-g.main-container
      div.header.pure-menu.pure-menu-open.pure-menu-horizontal.pure-u
        ul
          li.pure-menu-selected
            a(ng-href="#") Home
          li
            a(ng-href="<% if (ngRoute) { %>#/about<% } else { %>#<% } %>") About
          li
            a(ng-href="#") Contact
        h3 <%= appname %>

      <% if (ngRoute) { %>
        div(ng-view)
      <%} else {%>
        div(ng-include="'views/main.html'", ng-controller="MainCtrl")
      <% } %>

      div.footer.pure-u
        p
          span.glyphicon.glyphicon-heart
          | from the Yeoman team

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    script.
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');

    <!--[if lt IE 9]>
    script(src="bower_components/es5-shim/es5-shim.js")
    script(src="bower_components/json3/lib/json3.min.js")
    <![endif]-->

    <% if (socketio) {%>
    script(src='//cdn.socket.io/socket.io-1.0.6.js')
    <% }%>

    // build:js(.tmp) scripts/vendor.js
    // bower:js
    // endbower
    // endbuild

    // build:js(.tmp) scripts/scripts.js
    script(src='scripts/app.js')
    // endbuild
